@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Cormorant Garamond Medium'), local('CormorantGaramond-Medium'), url('s/fonts/CormorantGaramond-Medium.woff2') format('woff2'), url('s/fonts/CormorantGaramond-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Cormorant Garamond Medium Italic'), local('CormorantGaramond-MediumItalic'), url('s/fonts/Montserrat-MediumItalic.woff2') format('woff2'), url('s/fonts/Montserrat-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url('s/fonts/CormorantGaramond-Bold.woff2') format('woff2'), url('s/fonts/CormorantGaramond-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('s/fonts/Montserrat-Regular.woff2') format('woff2'), url('s/fonts/Montserrat-Regular.woff') format('woff');
}

body {
  font-size: 12pt;
  margin: 0;
  font-variant-ligatures: discretionary-ligatures;
  text-rendering: optimizelegibility;
}
#player {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#player > audio {
  display: block;
  width: 24em;
}
[data-active=true]  {
  text-decoration: underline;
}


#content {
  max-width: 45em;
  margin: 1em auto;
  background-color: rgba(255,255,255,0.66);
  padding: 1em;
  border-radius: 1em;
  padding-left: 2em;
}

@media screen and (min-width: 900px) {
  #content {
    padding-right: 20em;
  }
  sidenote {
    position: relative;
    color: darkgreen;
    max-width: 20em;
    right: 0;
    float: right;
    clear: right;
    margin-right: -18em;
    margin-top: -1em;
    width: 15em;
  }
}

section {
  margin-block-start: 1em;
  margin-block-start: 1em;
}
section > p {
  margin: 0;
}
sidenote {
  position: relative;
  color: darkgreen;
  max-width: 16em;
  right: 0;
  float: right;
  clear: right;
  margin-top: -1em;
  width: 15em;
  padding-left: 2em;
}
@media screen and (max-width: 550px) {
  sidenote {
    padding-left: 1em;
    max-width: calc(50vw - 2em);
  }
  #content {
    padding-left: 1em;
  }
}
p {
  font-family: 'Cormorant Garamond', serif;
}
h1, h2, h3, h4 {
  text-align: center;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
}
.a2 {
  font-style: italic;
}

.o {
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
}

.f {
  color: brown;
  margin-left: 2em;
  font-style: italic;
}
section.ende {
  padding: 1em;
}
.ende {
  text-align: center;
  font-size: 14pt;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
}
q {
  font-style: italic;
  quotes: "«" "»";
}
a:link {
  color: green;
}
section::before {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-variant: small-caps;
}
/* 2 */
section.ich::before {
  content: "Ich";
  display: inline;
}
section.leser::before {
  content: "Leser";
}
section.u {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}
section.u sidenote {
  left: 2em;
}
h4 {
  margin-bottom: 0.5em;
}
li {
    margin: 1em 0;
}

#background {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#background picture {
  display: flex;
  object-fit: cover;
}
#background picture * {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
